100	|x10001055	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO'} = {'b': 0.01654, 'a': 0.00088}	| Oxidizer -- x->O2 = 0.0174	| Bath_gas -- x->{'a': 'AR'}={'a': 0.96518}	|T -- 1165.0	| P -- 16.05	| flow_rate -- 	|Phi -- N/A	| observed -- 1070.0	| obs_unit --unitless 	| deviation -- 107.0	|data_weight -- 5	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us', 'flow': ''}
102	|x10001055	| target -- Tig	| simulation -- Isochor Homo Reactor	| measurnment_type -- OHEX;max	|Ignition_mode -- reflected	| Flame_type -- 	| Reactor_type -- 	| Fuel_type -- Multi	| Fuel -- x->{'a': 'H2', 'b': 'CO'} = {'b': 0.01654, 'a': 0.00088}	| Oxidizer -- x->O2 = 0.0174	| Bath_gas -- x->{'a': 'AR'}={'a': 0.96518}	|T -- 1207.0	| P -- 16.42	| flow_rate -- 	|Phi -- N/A	| observed -- 470.0	| obs_unit --unitless 	| deviation -- 47.0	|data_weight -- 5	|units -- {'conc': 'mol', 'P': 'bar', 'T': 'K', 'observed': 'us', 'flow': ''}
